<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Establiment</label>
    <input
    type="text"
    id="name"
    name="name"
    class="form-control"
    [ngModel]="defaultName"
    required
    #nameCtrl="ngModel">    
    <span class="help-block" *ngIf="nameCtrl.invalid && nameCtrl.touched">Please enter a name!</span>
  </div>
  <div class="form-group">
    <label for="desc">Descripció</label>
    <input
    type="text"
    id="desc"
    name="desc"
    class="form-control"
    [ngModel]="defaultName"
    #nameCtrl="ngModel">
  </div>
       <div class="form-group">
          <label for="name">Data</label>
          <div class='input-group date' id='datetimepicker1'>
             <input type='date' class="form-control"  id="dataC" name="dataC" [ngModel]="dataC" #nameCtrl="ngModel"/>
             <span class="input-group-addon">
             <span class="glyphicon glyphicon-calendar"></span>
             </span>
          </div>
       </div>

  <div class="form-group">
    <label for="persona">Pagat per</label>
    <select name="persona" id="persona" class="form-control" ngModel>
      <option *ngFor="let option of Persones" [value]="option.value">
        {{ option.display }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="importC">Import</label>
    <input
    type="text"
    id="importC"
    name="importC"
    class="form-control"
    [ngModel]="defaultName"
    #nameCtrl="ngModel">
  </div>
  <div class="form-group">
    <label for="categoria">Categoria</label>
    <select name="categoria" id="categoria" class="form-control" ngModel>
      <option *ngFor="let option of Categories" [value]="option.idCategoria">
        {{ option.Nom }}
      </option>
    </select>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
    <label class="form-check-label" for="flexCheckChecked">
      Pagat amb targeta
    </label>
  </div>
  <p>&nbsp;</p>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Guardar</button>
</form>
